/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #a1eddb;
  
  }
  
  /* images and videos max out at full width */
  img,
  video {
    max-width: 120%;
  }
  .Image {
    margin-top: 20px;
    padding: 10px;
    background-color: #18a886
  }